---
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
import "../styles/globals.css";
const { url } = Astro.request;
const reqUrl = new URL(url, Astro.site || "http://localhost");
const currentLang = reqUrl.pathname.startsWith("/es") ? "es" : "en";
---

<!doctype html>
<html lang={currentLang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal portfolio of a web developer and designer." />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
